#app-notes-list {
  .mat-selection-list {
    padding: 0;
  }
  .mat-list-item-content {
    padding: 1rem !important;
  }
  .mat-list-text {
    padding: 0 !important;
  }

  .mat-list-item {
    min-height: 48px;
    height: unset;
  }
}
